/* Sélecteur pour le conteneur du graphique */
#chart {
  width: 150px;
  /* Largeur souhaitée en pixels */
  height: 130px;
  /* Hauteur souhaitée en pixels */
}

body {
  background-color: rgb(253, 252, 252);
}

#span {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: #555;
}


#menu-container {
  float: left;
  width: 25%;
  height: 400px;
  display: flex;
}

#menu {
  width: 90%;
  height: 95%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
}

#dashboard-container {
  clear: both;
  /* efface les floats précédents */
  width: 100%;
  height: 600px;
  /* ou la hauteur que tu veux */
  display: flex;
}

#id-error {
  color: red;
}

.info.legend {
  line-height: 18px;
  color: #555;
}

.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.fa-question-circle:focus {
  outline: none;
}

.bi-question-circle:focus {
  outline: none;
}

.btn-info:focus,
.btn-info.focus {
  box-shadow: none;
}



/* #dashboard{
  width: 100%;
  height: 95%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
} */