/* html,
    body {
      margin: 0;
      padding: 0;
    }

    * {
      box-sizing: border-box;
      /* Remplacer par votre police font-family: 'Montserrat', Times, serif; 
    } */

/* Sélecteur pour le conteneur du graphique */
#chart {
    width: 50px;
    /* Largeur souhaitée en pixels */
    height: 30px;
    /* Hauteur souhaitée en pixels */
}